.Rproj.user
.Rhistory
.RData
config.status
config.log
*.o
*.so
*.dll
*.cpp
*.a
paper/*.gz
paper/*.log
paper/*.tex
paper/*concordance.tex
paper/*.bbl
vignettes/*.tex
vignettes/*.log
vignettes/*.gz
vignettes/*.aux
vignettes/*.bbl
man/as.scalar.Rd
vignettes/framed.sty
vignettes/.DS_Store
.DS_Store


