.Rproj.user
.Rhistory
.RData
config.status
config.log
src/*.o
src/*.so
src/*.dll
src/*.cpp
paper/*.gz
paper/*.log
paper/*.tex
paper/*concordance.tex
paper/*.bbl
src/Makevars
vignettes/*.tex
vignettes/*.log
vignettes/*.gz
vignettes/*.aux
vignettes/*.bbl
vignettes/*.pdf
man/as.scalar.Rd
vignettes/framed.sty
vignettes/.DS_Store
.DS_Store


