.Rproj.user
.Rhistory
.RData
config.status
config.log
src/*.o
src/*.so
src/*.dll
src/*.cpp
src/Makevars
vignettes/*.tex
vignettes/*.log
vignettes/*.gz
vignettes/*.aux
man/as.scalar.Rd
vignettes/framed.sty
vignettes/.DS_Store
.DS_Store
