S3method(as.iso,Date)
S3method(as.iso,POSIXt)
S3method(parseDate,Date)
S3method(parseDate,character)
S3method(parseDate,numeric)
S3method(parseTimestamp,POSIXt)
S3method(parseTimestamp,character)
S3method(parseTimestamp,numeric)
export(fromJSON)
export(minify)
export(prettify)
export(serializeJSON)
export(toJSON)
export(toMongo)
export(unbox)
export(unserializeJSON)
export(validate)
import(methods)
useDynLib(jsonlite)
