useDynLib(RJSONIO)

export(toJSON)
exportMethods(toJSON)

export(emptyNamedList)

export(fromJSON)
exportMethods(fromJSON)
exportPattern("^JSON_T")
export(asJSVars)

export(basicJSONHandler)


export(Strict, StrictNumeric, StrictCharacter, StrictLogical)

